@font-face{
  font-family: "Venera";
  src: url("../src/fonts/venera/Venera-100.otf");
  font-weight: 100;
}
@font-face{
  font-family: "Venera";
  src: url("../src/fonts/venera/Venera-300.otf");
  font-weight: 300;
}
@font-face{
  font-family: "Venera";
  src: url("../src/fonts/venera/Venera-500.otf");
  font-weight: 500;
}
@font-face{
  font-family: "Venera";
  src: url("../src/fonts/venera/Venera-700.otf");
  font-weight: 700;
}
@font-face{
  font-family: "Venera";
  src: url("../src/fonts/venera/Venera-900.otf");
  font-weight: 900;
}
