@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-Thin.otf");
  font-weight: 100;
}
@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-ExtraLight.otf");
  font-weight: 200;
}
@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-ExtraLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-Light.otf");
  font-weight: 300;
}
@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-Regular.otf");
  font-weight: 400;
}
@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-RegularItalic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-Medium.otf");
  font-weight: 500;
}
@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-Bold.otf");
  font-weight: 700;
}
@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}

@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-Heavy.otf");
  font-weight: 700;
}
@font-face{
  font-family: "Overlook";
  src: url("../src/fonts/overlook/ATCOverlook-HeavyItalic.otf");
  font-weight: 700;
  font-style: italic;
}
