@font-face{
  font-family: "AnonymousPro";
  src: url("../src/fonts/manifoldDisplay/AnonymousPro.ttf");
  font-weight: 400;
}
@font-face{
  font-family: "AnonymousPro";
  src: url("../src/fonts/manifoldDisplay/AnonymousProItalic.ttf");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: "AnonymousPro";
  src: url("../src/fonts/manifoldDisplay/AnonymousProBold.ttf");
  font-weight: 700;
}
@font-face{
  font-family: "AnonymousPro";
  src: url("../src/fonts/manifoldDisplay/AnonymousProBoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}
