@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-Thin.otf");
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-ThinItalic.otf");
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-Medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-SemiBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-BoldItalic.otf");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-Black.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face{
  font-family: "Branding";
  src: url("../src/fonts/branding/Branding-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}
