@font-face{
  font-family: "Roboto";
  src: url("../src/fonts/roboto/Roboto-Light.ttf");
  font-weight: 300;
}
@font-face{
  font-family: "Roboto";
  src: url("../src/fonts/roboto/Roboto-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: "Roboto";
  src: url("../src/fonts/roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face{
  font-family: "Roboto";
  src: url("../src/fonts/roboto/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}
