@font-face{
  font-family: "Manifold Display";
  src: url("../src/fonts/manifoldDisplay/ManifoldCFExtended-ExtraBold.otf");
  font-weight: 900;
}
@font-face{
  font-family: "Manifold Display";
  src: url("../src/fonts/manifoldDisplay/ManifoldCFExtended-Bold.otf");
  font-weight: 700;
}
@font-face{
  font-family: "Manifold Display";
  src: url("../src/fonts/manifoldDisplay/ManifoldCFExtended-DemiBold.otf");
  font-weight: 600;
}
@font-face{
  font-family: "Manifold Display";
  src: url("../src/fonts/manifoldDisplay/ManifoldCFExtended-Regular.otf");
  font-weight: 400;
}
@font-face{
  font-family: "Manifold Display";
  src: url("../src/fonts/manifoldDisplay/ManifoldCFExtended-Light.otf");
  font-weight: 300;
}
