@font-face{
  font-family: "Saturn";
  src: url("../src/fonts/saturn/OTF/ATCSaturn-4.otf");
  font-weight: 400;
}
@font-face{
  font-family: "Saturn";
  src: url("../src/fonts/saturn/OTF/ATCSaturn-5.otf");
  font-weight: 500;
}
@font-face{
  font-family: "Saturn";
  src: url("../src/fonts/saturn/OTF/ATCSaturn-6.otf");
  font-weight: 600;
}
