#mainMenu{
  position: fixed;
  opacity: 0;
  right: 1rem;
  z-index: 1000;
  text-align: right;

  span{
    display: block;
    font-family: $monoFont;
    opacity: 0.75;
    line-height: 1.5em;
    cursor: context-menu;

    &:hover{
      opacity: 1;
    }
  }

  @media screen and (max-width: 800px){
    display: none;
  }
}

.container{
  position: relative;
  max-width: $siteWidth;

  opacity: 0;
  width: 90%;

  margin: 0 auto;
  overflow: hidden;

  section{
    header{
      opacity: 0.75;
      padding-top: 1.563em;
      margin-bottom: 1.563em;
      border-bottom: 1px solid $off-white;

      h4{
        font-family: $monoFont;
        font-size: 0.8em;
        line-height: 1.25em;
        font-weight: 600;
        color: $off-white;
      }
    }
  }
}

.grid{
  display: flex;
  margin-bottom: 40px;

  @media screen and (max-width: 800px){
    flex-direction: column;
  }
  .left{
    flex: 1 1 62%;
    margin-right: 25px;

    @media screen and (max-width: 800px){
      margin-right: 0;
    }
  }
  .right{
    flex: 1 1 38%;
    margin-left: 25px;

    @media screen and (max-width: 800px){
      margin-left: 0;
      margin-top: 25px;
    }
    img{
      width: 100%;
      box-shadow: 0 2px 8px hsla(0,0%,10%,0.4);
      transition: all 0.2s;

    }
  }
}
