body{
  font-family: "Roboto", "AnonymousPro", "Saturn", "Manifold", sans-serif;
  font-weight: 300;
  color: $dark-blue;
  background: $background;
}
*{
  line-height: 1.8em;
  @media screen and (max-width: 800px){
    line-height: 1.5em;
  }
}

p{
  //font-family: "Manifold", sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Manifold Display", sans-serif;
  font-weight: 300;
  line-height: 1.25em;
}
body,h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}
ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
li{
  line-height: 1.75em;
}

a{
  text-decoration: none;
  color: $light-blue;
  transition: all 0.1s ease-in;

  &:hover{
    color: lighten($blue, 20%);
  }
}

input, textarea{
  background: transparent;
  border: none;
  font-family: "Saturn", "Manifold", sans-serif;
  font-size: 16px;
  color: white;
  outline: none;
}
textarea{
  padding: 0;
}
