$blue: #3B4B7F;
$dark-blue: hsl(200, 6%, 14%);
$light-blue: hsl(222, 40%, 60%);
$background: $dark-blue;
$off-white: #f8f8f8;

$displayFont: "Venera", "Manifold Display", sans-serif;
$bodyFont: "Overlook", "Roboto", "Saturn", "Manifold", sans-serif;
$monoFont: "Saturn", "Anonymous", "Manifold", sans-serif;

$siteWidth: 980px;
