
// $size5: 4.208em;
// $size4: 3.157em;
// $size3: 2.369em;
// $size2: 1.777em;
// $size1: 1.333em;
// $size0: 1em;
// $size-1: 0.75em;
// $size-2: 0.563em;
// $size-3: 0.422em;

$size5: 3.051em;
$size4: 2.441em;
$size3: 1.953em;
$size2: 1.563em;
$size1: 1.25em;
$size0: 1em;
$size-1: 0.75em;
$size-2: 0.563em;
$size-3: 0.422em;

$white: #fff;
$off-white: #f8f8f8;
$grey: #a8a8a8;
$black: #222;

$blue: #3B4B7F;
$dark-blue: hsl(200, 6%, 14%);
$light-blue: hsl(222, 40%, 60%);
$background: $dark-blue;

$displayFont: "Venera", "Manifold Display", sans-serif;
$bodyFont: "Helvetica", "Affogato", "Overlook", "Roboto", "Saturn", "Manifold", sans-serif;
$monoFont: "Saturn", "Anonymous", "Manifold", sans-serif;

$siteWidth: 980px;
